{% extends "ComplaintMS/index.html" %}


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" /> 

  <meta name="viewport" content="width=device-width, initial-scale=1">
  
</head>

{% block content %}
<style>
body
{

    background-color:blanchedalmond !important;
    
}

H2{
    color:rgb(220, 27, 172);
    padding:10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:bolder;


}
H3{
    color:rgb(27, 133, 220);
    padding:10px;
    text-align:justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
img{
  width:100%;
  height:100%;
}
.card
{
  border:#ffbf00 !important;
}


</style>
<br>
          {% load static %}
         
 <center> 
 





			<H2>complaint management system</H2>   

<h3 ><i>A complaint management system for a college would be software or a platform that allows students and staff to submit and track complaints or issues related to the college. This system would typically include a user-friendly interface for submitting complaints, a way to assign and track the status of complaints, and a way for college administrators to respond to and resolve complaints. It could also include features such as reports, and analytics to help the college to track and improve its complaint management process.
</i> </h3>
<h3><i>In current situation, a web-based complaint management system for a college will be very useful for its students and faculty to report their complaints and is essential for higher management to quickly address student’s concerns. This is a less time-consuming way to get a prompt response to the critical issues raised. 

    This project is designed in such a way that the application's users can register themselves, raise a complaint by selecting the type, and later check the status of it- whether it is solved, unsolved, or pending. Admin can view the complaints, change their status,  get overall statistics, and much more. This involves only one-to-one communication, hence ensuring privacy.
  </i></h3>
    
               

</center>
</div>

  {% endblock %}